.titulo_form{
    padding-left: 30px;
}

form {
    width: 80%;
    margin: auto;
}

.form {
    display: inline-block;
    width: 100%;
}

form input {
    width: 80%;
    padding: 0px;
    margin: 0px;
}

form textarea {
    width: 80%;
    padding: 0px;
    margin: 0px;
}

form button {
    padding: 0px;
    margin-right: 30%;
}

.button_form{
    padding: 20px;
    background-color: rgba(91, 145, 150, 0.689);
    border-radius: 20px;
    border: none;
    padding: 2px 5px;
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    box-shadow: -2px 4px 10px 1px black;
}

.button_form:hover{
    background-color: rgba(96, 145, 150, 0.689);
    border:solid 1px;
    box-shadow: 4px 5px 15px 1px black;
}
